{% extends 'store/main.html' %}
{%block content%}

<div class="row">
    <div class="col-md">
        <div class="card card-body" style="background-color: #ABDEE6;">
            <a href="{% url 'StoreSoldBoard' store.idStore %}" class="link-dark">
                <h5>Products Sold:</h5>
            </a>
            <hr>
            <h5>{{total_sell}}</h5>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body" style="background-color: #A2E1DB;">
            <h5>Store Information: {{store.StoreName}}</h5>
            <hr>
            <p>Address: {{store.StoreAddress}}</p>
            <p>Phone Number: {{store.StorePhone}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body " style="background-color: #D4F0F0;">
            <a href="{% url 'storeDashboard'%}" class="link-dark">
                <h5 class="card-title">Total Products</h5>
            </a>
            <hr>
            <h5 class="card-title">{{total_product}}</h5>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col_md">
        <div class="card card-body">
            <form action="" method="GET">
                {% comment %} {{myfilter1.form}}
                {{myfilter2.form}} {% endcomment %}
                <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <h5>All Clients</h5>
            {% comment %} <hr> {% endcomment %}
            <a href=" {% url 'AddNewClient' store.idStore %}" class="btn btn-outline-secondary btn-sm btn-block">Add New Client</a>
            <a href="{% url 'AddNewOrder' store.idStore %}" class="btn btn-outline-success btn-sm btn-block">Add New Order</a>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Client Name</th>
                    <th>Phone Number</th>                   
                    <th></th>
                </tr>
                {% for i in client %}
                <tr>
                    <td>
                        {{i.idClient}}
                    </td>
                    <td>
                        {{i.ClientName}}
                    </td>
                    <td>
                        {{i.PhoneNumber}}
                    </td>
                    <td>
                        <a href="{% url 'ClientDetails' store.idStore i.idClient %}" class="btn btn-success btn-sm btn-block"> Details</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card card-body">
            <h5>All Product</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Line</th>                   
                    <th>Receive Date</th>
                    <th>Store Ware House</th>
                    <th></th>
                </tr>
                {% for i in Product %}
                <tr>
                    <td>
                        {{i.idProduct}}
                    </td>
                    <td>
                        {{i.idProduct.ProductName}}
                    </td>
                    <td>
                        {{i.idProduct.ProductLine}}
                    </td>
                    <td>
                        {{i.ReceivedDate}}
                    </td>
                    <td>
                        {{i.StoreWareHouse}}
                    </td>
                    <td>
                        <a href="" class="btn btn-success btn-sm btn-block"> Details</a>
                        <a href="{% url 'recall' store.idStore i.idProduct %}" class="btn btn-danger btn-sm btn-block">Recall</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{%endblock%}
